* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #198754;
}

.green-background,
.zzz {
  background-color: #198754;
}

.container-sm {
  background-color: #30805a;
}

.logo {
  font-size: 50px;
  color: #ffc107;
  padding: 0 20px;
  border: 1px solid #ffc107;
  border-radius: 20%;
}

.text {
  color: white;
  text-align: left;
}

.main-text {
  font-size: 40px;
  font-weight: 800;
}

.logo-main-text-row {
  padding: 20px;
}

.text-row {
  padding: 20px 0;
}

.arrow {
  font-size: 26px;
  color: white;
}

.btn {
  margin: 40px 0;
}

.effective-date-text {
  text-align: left;
}
