* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body,
.container-sm {
  background-color: #198754;
}

.logo {
  font-size: 50px;
  color: #ffc107;
  padding: 0 20px;
  border: 1px solid #ffc107;
  border-radius: 20%;
}

.text {
  color: white;
  text-align: left;
}

.main-text {
  font-size: 2.2rem;
  font-weight: 800;
}

.logo-main-text-row {
  padding: 1rem;
}

.text-row {
  padding: 1rem 0;
}

.arrow {
  font-size: 2.2rem;
  color: white;
}

.btn {
  margin: 2.2rem 0;
}

.effective-date-text {
  text-align: left;
}

.alert-text {
  color: rgb(129, 49, 49);
  padding-bottom: 2.2rem;
}
